<div class="container spacer">
  <div class="card">
    <div class="card-header">Votre recherche</div>
    <div class="card-body">
      <div class="form-group">
        <input type="text" [(ngModel)]="motCle" placeholder="nom du contact"/>
        <button class="mx-2 btn btn-primary" (click)="chercher()">Rechercher</button>
      </div>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let contact"> {{contact.nom}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </th>
          <td mat-cell *matCellDef="let contact"> {{contact.prenom}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="dateNaissance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance </th>
          <td mat-cell *matCellDef="let contact"> {{contact.dateNaissance}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tel </th>
          <td mat-cell *matCellDef="let contact"> {{contact.tel}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<!--      <table class="table table-striped">-->
<!--        <tr>-->
<!--          <th>ID</th>-->
<!--          <th>Nom</th>-->
<!--          <th>Prénom</th>-->
<!--          <th>Email</th>-->
<!--        </tr>-->
<!--        <tr *ngFor="let c of pageContacts?.content">-->
<!--          &lt;!&ndash;<tr *ngFor="let c of pageContacts">&ndash;&gt;-->
<!--          <td>{{c.id}}</td>-->
<!--          <td>{{c.nom}}</td>-->
<!--          <td>{{c.prenom}}</td>-->
<!--          <td>{{c.email}}</td>-->
<!--          <td>-->
<!--            <a (click)="onEditContact(c.id)" class="clickable">Edit</a>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->
      <!--<div class="container">-->
        <!--<ul class="nav nav-pills">-->
          <!--<li class="nav-item" [ngClass]="{'active':(i+1)==currentPage}" *ngFor="let p of pages; let i=index">-->
            <!--<a class="nav-link" (click)="gotoPage(i+1)">{{i+1}}</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
<!--      <div class="container">-->
<!--        <nav aria-label="...">-->
<!--          <ul class="pagination">-->
<!--            <li class="page-item" [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">-->
<!--              <a class="page-link clickable" (click)="gotoPage(i)">{{i+1}}</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->
    </div>
  </div>



</div>


